extends base.pug
block content
	<h2>Contatti - Area Stampa - Area Download - Calendario scioperi - Note Legali - Mappa del sito</h2>
	<p>Orio al Serio International Airport - Via Orio al Serio 49/51, 24050 Grassobbio (BG) - P.I. 00237090162
	Reg delle imprese di Bergamo - Cap. Soc. euro 17.010.000 i.v. - R.E.A. numero 133034 - Privacy Policy - Credits</p>