extends base.pug
block content
	<h1> #{currentAirport.name} </h1>
	<h5> #{currentAirport.abstract} </h2>
	<p> country : #{currentAirport.country}</p>
	<p> timeZone : #{currentAirport.timeZone}</p>
	<p> latitude : #{currentAirport.latitude}</p>
	<p> longitude : #{currentAirport.longitude}</p>
