//- base.pug
html
	head
		//- Titolo della pagina
		title #{title}
		
		//- Charset
		meta(charset='utf-8')
		
		
		//- Script import (jQuery)
		block scripts_import
			script(type='text/javascript' src='public/js/jquery.js')
			
		//- Blocco script, qualora abbiate la necessità di scrivere nuovi script in pagine figlie
		block scripts
		
		//- Blocco style per includere i css
		block style
			style
				include css/index.css
				include css/topNav.css
				include css/body.css
				include css/footer.css
	body
		//- Header
		include header
		
		//- Contenuto
		div(class="container")
			block content
			
		//- Footer
		include footer