extends base.pug

block scripts
  script.
    $( document ).ready(function(){
      $("#submit").click(function(){
        Origin = $('#partenza').val()
        Destination = $('#arrivo').val()
        dataPartenza = $('#dataPartenza').val()
        dataArrivo = $('#dataArrivo').val()
        params = { "Origin" : Origin, "DateOut" : dataPartenza, "DateIn" : dataArrivo, "Destination" : Destination}

        $.get( "./searchResults", params, function( data )
        {
          array = JSON.parse(data)
          voli = array.trips
          $.each(voli, function(i, item){
            contenuto = "<div style='border: #AAA 1px solid;' />"
            contenuto += "<p><h5>Origin:</h5>" + item.originName + "</p>" +
            "<p><h5>Destination:</h5>" + item.destinationName + "</p>";

            var date = item.dates;
            $.each(date, function(x, item){
              daStampare = contenuto + "<p><h5>Data:</h5>" + item.dateOut + "</p>" + "</div>"
              $("#container").append(daStampare)
            })
          })
        });
      });
    })

block content
  <div><h2>Ricerca voli</h2>
  <table>
    <tr>
      <td>Aeroporto di partenza</td>
      <td><input type = "text" id = "partenza" /> </td></tr>
    <tr>
      <td>Aeroporto di arrivo</td>
      <td><input type = "text" id = "arrivo" /> </td></tr>
      <tr>
        <td>Data di partenza</td>
        <td><input type = "date" id = "dataPartenza" /> </td></tr>
      <tr>
        <td>Data di arrivo</td>
        <td><input type = "date" id = "dataArrivo" /> </td></tr>
  </table></p>
  <input type = "button" id = "submit" value = "Submit"/>

  div#container
