<div class="footer">
	<div style="margin-left: 20px">
		<font color='white'>
			<p>All right reserved 2017</p>
			<p>Contact information: <a href="mailto:webmaster@webmaster.com" style='color: white;'> webmaster@webmaster.com</a></p>
		</font>
	</div>
</div>