<div class="topnav" id="myTopnav">
	div(style="margin-left: 20px; margin-bottom: 0px;")
		img(src="/public/images/nodejs_logo.png" alt="logo node.js" width="125px")
		<b><font size=20 color='white'>Node.js Server</font></b>
	<a href="/home">Home</a>
	<a href="/airports">Aeroporti</a>
	<a href="/routes">Rotte</a>
	<a href="/flights">Voli</a>
	<a href="/aboutUs">About us</a>
</div>