extends base.pug

block content
	div(style="margin-left: 20px; margin-bottom: 20px;")#body
		h1!= "Home"
		| Benvenuti nel nostro motore di ricerca voli
		<br/>
		| Qui puoi scrivere ciò che vuoi e mettere il testo e funzioni che preferisci.
		<br/><br/>
		| Esempio di tag ul/li <br/>
		| Offriamo le seguenti funzionalità:
		ul
			li
				a(href="/airports") Aeroporti: lista di tutti gli aeroporti disponibili
			li
				a(href="/routes") Rotte: dato un aeroporto di partenza è possibile vedere tutti gli aeroporti raggiungibili da esso
			li 
				a(href="/flights") Voli: permette di cercare i voli disponibili