extends base.pug

block scripts
	script.
		function changed(sel)
		{

			params = { "departure" : sel.value };

			$.get( "./getDestination", params, function( data )
			{
				var array = JSON.parse(data);
				$("#content").html("")
				$.each(array, function(i, item){
					if (!item.search("city:")){
						city = item.replace("city:", "")
						$("#content").append("<li>").append(city).append("</li>")
						}
				})
			});

		}

		$( document ).ready(function() {
			$("#selectAir").on('change', function (e) {
				var optionSelected = $("option:selected", this);
				changed(this)
			});

		});


block content
	div(style="margin-left: 20px; margin-bottom: 20px;")
		h1!= "Rotte"
		| In questa pagina è possibile selezionare un aeroporto dalla lista sottostante, verrà caricata tramite jQuery una lista di aeroporti che è possibile raggiungere.
		<br/><br/>

		select#selectAir
			each airport, index in airportsList
				option(value = index) #{airport.name}


		//- Qui verrà inserita la risposta della richiest get effettuata dalla funzione "changed"
		div
		ul#content
